<div class="w-75 margin-auto">
  <div class="form-container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
      <div class="form-field flex">
        <div class="w-25">
          <label for="email" class="form-label pt">Email</label>
        </div>

        <div class="flex-1">
          <input
            type="email"
            id="email"
            class="form-input"
            formControlName="email"
          />

          @if((login_emailControl.touched || isLoginFormSubmitted) &&
          login_emailControl.errors?.['required']){
          <span class="text-red">Email cannot be blank</span>
          } @if((login_emailControl.touched || isLoginFormSubmitted) &&
          login_emailControl.errors?.['email']){
          <span class="text-red">Email should be in proper format</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25">
          <label for="password" class="form-label pt">Password</label>
        </div>

        <div class="flex-1">
          <input
            type="password"
            id="password"
            class="form-input"
            formControlName="password"
          />

          @if((login_passwordControl.touched || isLoginFormSubmitted) &&
          login_passwordControl.errors?.['required']){
          <span class="text-red">Password is required</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25"></div>

        <div class="flex-1">
          <button type="submit" class="button button-green-back">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
