<div class="w-75 margin-auto">
  <div class="form-container">
    <h2>Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
      <div class="form-field flex">
        <div class="w-25">
          <label for="personName" class="form-label pt">Person Name</label>
        </div>

        <div class="flex-1">
          <input
            type="text"
            id="personName"
            class="form-input"
            formControlName="personName"
          />

          @if((register_personNameControl.touched || isRegisterFormSubmitted) &&
          register_personNameControl.errors?.['required']){
          <span class="text-red">Person Name cannot be blank</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25">
          <label for="email" class="form-label pt">Email</label>
        </div>

        <div class="flex-1">
          <input
            type="email"
            id="email"
            class="form-input"
            formControlName="email"
          />

          @if((register_emailControl.touched || isRegisterFormSubmitted) &&
          register_emailControl.errors?.['required']){
          <span class="text-red">Email cannot be blank</span>
          } @if((register_emailControl.touched || isRegisterFormSubmitted) &&
          register_emailControl.errors?.['email']){
          <span class="text-red">Email should be in proper format</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25">
          <label for="phoneNumber" class="form-label pt">Phone Number</label>
        </div>

        <div class="flex-1">
          <input
            type="tel"
            id="phoneNumber"
            class="form-input"
            formControlName="phoneNumber"
          />

          @if((register_phoneNumberControl.touched || isRegisterFormSubmitted)
          && register_phoneNumberControl.errors?.['required']){
          <span class="text-red">Phone number cannot be blank</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25">
          <label for="password" class="form-label pt">Password</label>
        </div>

        <div class="flex-1">
          <input
            type="password"
            id="password"
            class="form-input"
            formControlName="password"
          />

          @if((register_passwordControl.touched || isRegisterFormSubmitted) &&
          register_passwordControl.errors?.['required']){
          <span class="text-red">Password is required</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25">
          <label for="confirmPassword" class="form-label pt"
            >Confirm Password</label
          >
        </div>

        <div class="flex-1">
          <input
            type="password"
            id="confirmPassword"
            class="form-input"
            formControlName="confirmPassword"
          />

          @if((register_confirmPasswordControl.touched ||
          isRegisterFormSubmitted) &&
          register_confirmPasswordControl.errors?.['required']){
          <span class="text-red">Confirm Password is required</span>
          } @if((register_confirmPasswordControl.touched ||
          isRegisterFormSubmitted) &&
          register_confirmPasswordControl.errors?.['compareValidator']){
          <span class="text-red">Password and Confirm Password must match</span>
          }
        </div>
      </div>

      <div class="form-field flex">
        <div class="w-25"></div>

        <div class="flex-1">
          <button type="submit" class="button button-green-back">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
